@model SchoolsofAmericans.Models.PreRegistration

@{
    ViewData["Title"] = "View";
}


<hr />

<div class="wrapper">
    <h2>PreRegistration</h2>
    <form>
        <div class="input-name">
            <label asp-for="UserName"></label><span class="text-danger">*</span>
            <input asp-for="UserName" class="text-name" placeholder="User Name" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="input-name">
            <label asp-for="SchoolName"></label>
            <input asp-for="SchoolName" class="text-name" placeholder="School Name" />
            <span asp-validation-for="SchoolName" class="text-danger"></span>
        </div>
        <div class="input-name">
            <label asp-for="EmailId"></label>
            <input asp-for="EmailId" class="text-name" placeholder="Email"/>
            <span asp-validation-for="EmailId" class="text-danger"></span>
        </div>
        <div class="input-name">
            <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
    </form>

</div>

@*<div class="row">
        <div class="col-md-4">
            <form asp-action="PreRegistrationAction">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SchoolName" class="control-label"></label>
                    <input asp-for="SchoolName" class="form-control" />
                    <span asp-validation-for="SchoolName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmailId" class="control-label"></label>
                    <input asp-for="EmailId" class="form-control" />
                    <span asp-validation-for="EmailId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
